
.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 2em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 'header topnav'
	'demos pater'
	'demos bikenav';
}


#bike {
	position: absolute;
	min-width: 320px;
	width: 80%;
	max-height: 80%;
	opacity: 0;
}

#mainpaths path:nth-child(8n+1) {
	stroke: var(--animation-color-1);
	fill: var(--animation-color-1);
}

#mainpaths path:nth-child(8n+2) {
	stroke: var(--animation-color-2);
	fill: var(--animation-color-2);
}

#mainpaths path:nth-child(8n+3) {
	stroke: var(--animation-color-3);
	fill: var(--animation-color-3);
}

#mainpaths path:nth-child(8n+4) {
	stroke: var(--animation-color-4);
	fill: var(--animation-color-4);
}

#mainpaths path:nth-child(8n+5) {
	stroke: var(--animation-color-5);
	fill: var(--animation-color-5);
}

#mainpaths path:nth-child(8n+6) {
	stroke: var(--animation-color-6);
	fill: var(--animation-color-6);
}

#mainpaths path:nth-child(8n+7) {
	stroke: var(--animation-color-7);
	fill: var(--animation-color-7);
}

#mainpaths path:nth-child(8n+8) {
	stroke: var(--animation-color-8);
	fill: var(--animation-color-8);
}

#bike rect {
	stroke: none;
	fill: none;
}

@media screen and (max-width: 60em) {
	
	.content {
		flex-direction: column;
		height: auto;
		padding-bottom: 10em;
	}
	.content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}
	
}
